
@{
    ViewBag.Title = "ContentSample";
    Layout = "~/Views/Home/MyLayout.cshtml";
}

<table>
    <tr>
        <td>Name</td>
        <td><input type="text" name="asd" /></td>
    </tr>
    <tr>
        <td>PAssword</td>
        <td><input type="text" name="asds" /></td>
    </tr>
    <tr>
        <td> </td>
        <td><input type="submit" name="asasd" /></td>
    </tr>
</table>

