@model Foody.Models.DeliveryBoy
@{
    //  Layout = "~/Views/Home/Admin.cshtml";
    Layout = "~/Views/Home/MyLayout.cshtml";
}

@{
    ViewBag.Title = "Add";
}


    <h2>REGISTER DELIVERY BOY</h2>
@using (Html.BeginForm("RegisterDeliveryBoy", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    
        <table width="100">
            <tr>
                <td>UserId</td>
                <td>
                    <input type="text" name="user_id" />
                </td>
            </tr>
            <tr>
                <td>Name</td>
                <td><input type="text" name="name" /></td>
            </tr>
            <tr>
                <td>Address</td>
                <td><input type="text" name="address" /></td>
            </tr>
            <tr>
                <td>Phone</td>
                <td><input type="text" name="phone" /></td>
            </tr>
            <tr>
                <td>E-mail</td>
                <td><input type="text" name="email" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input id="submit" type="submit" value="submit" /></td>
            </tr>
        </table>
  


}
   


