@model Foody.Models.Shops


@{
    Layout = "~/Views/Home/MyLayout.cshtml";
   // Layout = "~/Views/Home/Admin.cshtml";
}

@{
    ViewBag.Title = "Add";
}


<h2>SHOP REGISTRATION</h2>
@using (Html.BeginForm("RegisterShopHere", "Home", FormMethod.Post))
{
    
    <table width="100">
            <tr>
                <td>Shop Type</td>
                <td>
                    <select name="shop_type" required>
                        <option>Select</option>
                        <option value="hotel">Hotel</option>
                        <option value="resturent">Resturent</option>
                        <option value="thattukada">Thattukada</option>
                    </select>
                </td>
                @*<td><input type="text" name="shop_type" /></td>*@
            </tr>
            <tr>
                <td>UserId</td>
                <td>
                    <input type="text" name="user_id" required />
                </td>
            </tr>
            <tr>
                <td>Shop Name</td>
                <td><input type="text" name="shop_name" required /></td>
            </tr>
         
            <tr>
                <td>Shop Address</td>
                <td><input type="text" name="shop_address"  required/></td>
            </tr>
            <tr>
                <td>Phone</td>
                <td><input type="number" name="phone" required /></td>
            </tr>
            <tr>
            <tr>
                <td>Pincode</td>
                <td><input type="number" name="pincode" /></td>
            </tr>
            <tr>
            <tr>
                <td>E-mail</td>
                <td><input type="email" name="email" /></td>
            </tr>
            <tr>
            <tr>
                <td>Registration No</td>
                <td><input type="text" name="registration_no" /></td>
            </tr>
            <tr>
            <tr>
                <td>Latitude</td>
                <td><input type="text" name="latitude" /></td>
            </tr>
            <tr>
            <tr>
                <td>Longitude</td>
                <td><input type="text" name="longitude" /></td>
            </tr>
            <tr>
            <tr>
                <td>Status</td>
                <td><input type="text" name="status" /></td>
            </tr>
            <tr>
            <td></td>
            <td><input id="submit" type="submit" value="submit" /></td>
        </tr>
        </table>
    
    
    
}

